
*{
    padding: 0px;
    margin: 0px;
}

.container{
    background: blue;
    color: white;
    border: 10px solid red;
    /*top right bottom left*/
    padding: 30px 0px 50px 30px;
    margin-top: 50px;
    display: block;
}

